<div
  class=""
  [ngClass]="{ '': isEditing }"
  (click)="activeEditing()"
  >
  @if (!isEditing) {
    <div class="btn btn-primary w-100 py-2 mb-3">{{ defaultText }}</div>
  }

  @if (isEditing) {
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class=""
    >
      @if (inputType === 'input') {
        <div class="form-floating mb-3" >
          <input
            autofocus
            formControlName="title"
            type="text"
            class="form-control"
            id="floatingTitle"
            [placeholder]="inputPlaceholder"
            >
          <label for="floatingTitle">{{ inputPlaceholder }}</label>
        </div>
      }
      @if (hasButton) {
        <button
          type="submit"
          [disabled]="form.invalid"
          class="btn btn-primary w-100 py-2 mb-3"
          >
          {{ buttonText }}
        </button>
      }
    </form>
  }

</div>
@if (hasButton && isEditing) {
  <button
    (click)="cancel()"
    class="btn btn-outline-secondary w-100 py-2 mb-3"
    >
    Cancelar
  </button>
}