<div class="form-register w-100 m-auto">
  <a routerLink="/">
    <img class="m-5 mx-auto d-block" src="https://source.unsplash.com/random/200x100" alt="" width="200" height="100">
  </a>

  <form
    class="p-4 border rounded-3 bg-body-tertiary"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <h5 class="text-center mt-2 mb-4 fw-normal">Nova conta</h5>
    <div class="mb-3 text-danger">
      <span 
        *ngFor="let error of errorMessages"
        class="d-block"
      >
        {{ error }}
      </span>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="email"
        type="email" 
        class="form-control"
        id="floatingEmail"
        placeholder="name@example.com"
      >
      <label for="floatingEmail">E-mail</label>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="floatingName"
        placeholder="Allana"
      >
      <label for="floatingName">Nome</label>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="lastname"
        type="text"
        class="form-control"
        id="floatingLastname"
        placeholder="Klein"
      >
      <label for="floatingLastname">Sobrenome</label>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Senha"
      >
      <label for="floatingPassword">Senha</label>
    </div>

    <button class="btn btn-primary w-100 py-2 mb-3" type="submit">Registrar</button>

    <a routerLink="/entrar" class="text-center d-block">Entrar</a>
  </form>
</div>