<div class="form-register w-100 m-auto">
  <a routerLink="/">
    <img class="m-5 mx-auto d-block" src="https://source.unsplash.com/random/200x100" alt="" width="200" height="100">
  </a>

  <form
    class="p-4 border rounded-3 bg-body-tertiary"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <h5 class="text-center mt-2 mb-4 fw-normal">Entrar</h5>
    <div class="mb-3 text-danger">
      @for (error of errorMessages; track error) {
        <span
          class="d-block"
          >
          {{ error }}
        </span>
      }
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="floatingEmail"
        placeholder="name@example.com"
      >
      <label for="floatingEmail">E-mail</label>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Senha"
      >
      <label for="floatingPassword">Senha</label>
    </div>

    <button class="btn btn-primary w-100 py-2 mb-3" type="submit">Entrar</button>

    <a routerLink="/nova-conta" class="text-center d-block">Nova conta</a>
  </form>
</div>