<div class="px-4 py-4">
  <h1 class="pb-4 display-5 fw-bold text-body-emphasis text-center border-bottom">
    <i class="bi bi-clipboard-data-fill"></i>
    Ações
  </h1>

  <div class="list-group list-group-checkable d-grid gap-2 border-0 mt-4">
    @for (share of shares; track share) {
      <div class="list-group-item rounded-3 py-3 mb-3 border-top">
        <div class="text-center">
          {{ share.title }}
        </div>
        <div class="list-group list-group-checkable d-grid gap-2 border-0">
          @for (expectation of getExpectationsByShareId(share.id); track expectation) {
            <div class="py-3 border-bottom">
              <span class="d-block small opacity-50">{{ expectation.description }}</span>
            </div>
          }
          <inline-form
            class=""
            defaultText="Nova descrição"
            [hasButton]="true"
            inputPlaceholder="Descrição"
            buttonText="Adicionar"
            (handleSubmit)="createExpectation($event, share.id)">
          </inline-form>
        </div>
      </div>
    }
  </div>

  <inline-form
    class="d-grid gap-2"
    defaultText="Nova ação"
    [hasButton]="true"
    inputPlaceholder="Título"
    buttonText="Adicionar"
    (handleSubmit)="createShare($event)">
  </inline-form>
</div>